@import url(http://fonts.googleapis.com/css?family=Dancing+Script);

/*TEXT ALIGNS*/

.txt_center {
    text-align: center;
}

.txt_left {
    text-align: left;
}

.txt_right {
    text-align: right;
}


/*FONT NAMES*/

.m_100 {
    font-family: 'museo_sans100';
}

.m_500 {
    font-family: 'museo_sans500';
}

.m_700 {
    font-family: 'museo_sans700';
}

.fr_goth {
    font-family: 'itcfranklingothic_lt_bookcpRg';
}

.med_goth {
    font-family: 'gotham_mediumregular';
}

.b_goth {
    font-family: 'gotham_boldregular';
}

.pacifico {
    font-family: 'pacificoregular';
}